* {
  margin: 0;
  -ms-overflow-style: none;
  /* font-family: 'product_sansregular'; */
}
input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  color: rgb(255, 255, 255);
    opacity: 1;
    display: block;
    margin-top: 1ch;
    background: url("./assets/Images/Vector.png") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
  -webkit-appearance: none;
}
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "product_sans_blackregular";
  src: url("./assets/Fonts/productsans-black-webfont.woff2") format("woff2"),
    url("./assets/Fonts/productsans-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "product_sansbold";
  src: url("./assets/Fonts/productsans-bold-webfont.woff2") format("woff2"),
    url("./assets/Fonts/productsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "product_sans_lightregular";
  src: url("./assets/Fonts/productsans-light-webfont.woff2") format("woff2"),
    url("./assets/Fonts/productsans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "product_sansregular";
  src: url("./assets/Fonts/productsans-regular-webfont.woff2") format("woff2"),
    url("./assets/Fonts/productsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
