* {
    margin: 0; 
    font-family: Product Sans;
}

@font-face {
    font-family: 'Product Sans';
    src: local('Product Sans'), url(./Fonts/ProductSans/productsans-regular.ttf) format('ttf');
}



